<br>
<br>
<hr class="solid">
<h2>Tipos Tripulante</h2>
<hr class="solid">

<div class=row>
    <div class=column>
        <ul class="tiposTripulante">
            <li *ngFor="let tipoTripulante of tiposTripulante">
                <a id = 'ttClickable' routerLink="/tiposTripulante/{{tipoTripulante.domainId}}">
                    <span id = 'tipoTripul' class="badge">{{tipoTripulante.domainId}}</span> {{tipoTripulante.desc}}
                </a>
                <button id = 'remove' class="delete" title="delete tipoTripulante" (click)="delete(tipoTripulante)">X</button>
            </li>
        </ul>
    </div>
    
    <div class=column:right>
        <h3>Add Tipo Tripulante</h3>
        
        <form action="doit" id="doit" method="post">
            
            <label>Domain ID:
                <input id = "tipoTripulanteDomainId" #tipoTripulanteDomainId />
            </label>
            
            <label>Descrição:
                <input id = "tipoTripulanteDesc" #tipoTripulanteDesc />
            </label>
            
        </form>
        
        <button id = 'add' (click)="add(tipoTripulanteDomainId.value, tipoTripulanteDesc.value); tipoTripulanteDesc.value=''">
            add
        </button>
        
        <br>
        <br>
    </div>