<br>
<br>
<hr class="solid">
<div *ngIf="viagem">

  <h2>Details</h2>

  <hr class="solid">


  <div><span>Domain ID: </span>{{viagem.domainId}}</div>
  <div>
    <!-- <label>Linha: 
      <select #tipo id='linhaUpdate' [(ngModel)]="viagem.lineId">
        <option *ngFor="let pow of  linhas" [value]="pow.domainId">{{pow.nome}}</option>
      </select>
    </label>
    <label>Percurso:
      <select #tipo id='percursoUpdate' [(ngModel)]="viagem.pathId">

      </select>
    </label> -->

    <ul>
        <li>Linha: {{viagem.lineId}}</li>
      </ul>
      <ul>
        <li>Percurso: {{viagem.pathId}}</li>
      </ul>
    <label>Tempos:
      <li *ngFor="let temp of viagem.tempos">
        <input id="tempoUpdate" [(ngModel)]="temp" placeholder="tempo" />
      </li>
    </label>
  </div>
  <button id='goBack' (click)="goBack()">go back</button>
  <button id='save' (click)="save()">save</button>
</div>-