<br>
<br>
<hr class="solid">
<h2>Percursos</h2>
<hr class="solid">


<div class=row>
    <div class=column>
        <ul class="percursos">
            <li *ngFor="let percurso of percursos">
                <a id = 'pClickable' routerLink="/percursos/{{percurso.domainId}}">
                    <span id = 'percur' class="badge">{{percurso.domainId}}</span> 
                </a>
                <button id = 'remove' class="delete" title="delete percurso" (click)="delete(percurso)">x</button>
            </li>
        </ul>
    </div>



    <div>
        

        <br>
        <br>

        <h3>Add Percurso</h3>

        <form action="doit" id="doit" method="post">
            <label>Domain ID:
                <input id = 'percursoDomainId' #percursodomainId />
            </label>
            <div class="container-fluid">
                <p></p>
                <dual-list [sort]="keepSorted" [source]="nos" [key]="key" [display]="display" [filter]="filter"
                    [(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></dual-list>
            </div>
            <div style="display:flex;">
                <div>
                    <pre style="height:100px;overflow:auto;margin: 8px 0;max-width:480px;">{{nos|json}}</pre>
                </div>
                <div>
                    <pre style="height:100px;overflow:auto;margin: 8px 0;max-width:480px;">{{confirmed|json}}</pre>
                </div>
            </div>

        </form>

        <button id ='add' (click)="add(percursodomainId.value, confirmed)">
            add
        </button>

    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <button id ='refr'  style="outline: 0;"  (click)="refresh()">
    </button>