<div domainId="search-component">
    <h4><label for="search-box">TipoViatura Search</label></h4>
  
    <input #searchBox domainId="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let tipoViatura of tiposViatura$ | async" >
        <a routerLink="/tiposViatura/{{tipoViatura.domainId}}">
          {{tipoViatura.nome}}
          {{tipoViatura.autonomia}}
          {{tipoViatura.custo}}
          {{tipoViatura.velocidadeMedia}}
          {{tipoViatura.combustivel}}
          {{tipoViatura.consumo}}
          {{tipoViatura.emissoes}}
        </a>
      </li>
    </ul>
  </div>