h1,h2,h3{
    font-family: 'Goldman', Georgia, Times, serif;
    color: green;
    text-align: center;
}

h4,a{
    font-family: 'Goldman', Georgia, Times, serif;
    color: white;
}

label,div{
    color: black;
    font-family: 'Goldman', Georgia, Times, serif;
}

button{
    font-family: 'Goldman', Georgia, Times, serif;
    margin-left: 5px;
    
}

hr.solid {
    border-top: 3px solid #bbb;
  }

nav{
    font-family: 'Goldman', Georgia, Times, serif;
    color: green;
}
body {background-color: lightgrey;}