<br>
<br>
<hr class="solid">
<h2>Serviços de Tripulante</h2>
<hr class="solid">


<div class=row> 
    <div class=column>
        <ul class="servicosTripulante">
            <li *ngFor="let servicoTripulante of servicosTripulante">
                <a id = 'pClickable' routerLink="/servicosTripulante/{{servicoTripulante.domainId}}">
                    <span id = 'percur' class="badge">{{servicoTripulante.domainId}}</span> 
                </a>
                <button id = 'remove' class="delete" title="delete servicoTripulante" (click)="delete(servicoTripulante)">x</button>
            </li>
        </ul>
    </div>



    <div>

        <br>
        <br>

        <h3>Add Servico Tripulante </h3>

        <form action="doit" id="doit" method="post">
            <label>Domain ID:
                <input id = 'servicoTripulanteDomainId' #servicoTripulantedomainId />
            </label>
            <label>Nome:
                <input id = 'servicoTripulanteNome' #servicoTripulanteNome />
            </label>
            <label>Cor:
                <input id = 'servicoTripulanteCor' #servicoTripulanteCor />
            </label>
            <div class="container-fluid">
                <p></p>
                <dual-list [sort]="keepSorted" [source]="blocos" [key]="key" [display]="display" [filter]="filter"
                    [(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></dual-list>
            </div>

        </form>

        <button id ='add' (click)="add(servicoTripulantedomainId.value, servicoTripulanteNome.value, servicoTripulanteCor.value, confirmed)">
            add
        </button>

    </div>


    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <button id ='refr'  style="outline: 0;"  (click)="refresh()">
    </button>