<br>
<br>
<hr class="solid">
<div *ngIf="tripulante">

  <h2>Details</h2>

  <hr class="solid">
  <br>
  <div><span>Número Mecanográfico: </span>{{tripulante.numMecanografico}}</div>
  <div>
    <label>Nome:
      <input id="nomeUpdate" [(ngModel)]="tripulante.nome" placeholder="nome" />
    </label>
    <br>
    <br>
    <label>Data de Nascimento:
      <input id="dataNUpdate" [(ngModel)]="tripulante.dataNascimento" placeholder="data de nascimento" />
    </label>
    <br>
    <br>
    <label>Número de Cartão de Cidadão:
      <input id="CCUpdate" [(ngModel)]="tripulante.numCC" placeholder="número CC" />
    </label>
    <br>
    <br>
    <label>NIF:
      <input id="NIFUpdate" [(ngModel)]="tripulante.NIF" placeholder="NIF" />
    </label>
    <br>
    <br>
    <label>Tipo de Tripulante:
      <select id='tripulanteTipoUpdate' [(ngModel)]="tripulante.tipoTripulante">
        <option *ngFor="let pow of  tiposTripulante" [value]="pow.domainId">
          {{pow.desc}}</option>
      </select>
    </label>
    <br>
    <br>
    <label>Data de Entrada:
      <input id="dataEUpdate" [(ngModel)]="tripulante.dataEntrada" placeholder="Data de Entrada" />
    </label>
    <br>
    <br>
    <label>Data de Saída:
      <input id="dataSUpdate" [(ngModel)]="tripulante.dataSaida" placeholder="Data de Saída" />
    </label>
    <br>
    <br>
  </div>
  <button id="goBack" (click)="goBack()">go back</button>
  <button id="save" (click)="save()">save</button>
</div>