<br>
<br>
<hr class="solid">
<div *ngIf="viatura">

  <h2>Details</h2>

  <hr class="solid">


  <div><span>Matricula: </span>{{viatura.matricula}}</div>
  <div>
    <!-- <label>VIN:
      <input id='VINUpdate' [(ngModel)]="viatura.VIN" placeholder="nome" />
    </label> -->
    <label>Tipo de Viatura:
      <select #tipo id = 'tripulanteViaturaUpdate' [(ngModel)]="viatura.tipoViatura" >
          <option *ngFor="let pow of  tiposViatura" [value]="pow.domainId">{{pow.nome}}</option>
      </select>
  </label>
    <label>Data de Entada:
      <input id='dataEUpdate' [(ngModel)]="viatura.dataEntrada" placeholder="custo" />
    </label>
  </div>
  <button id='goBack' (click)="goBack()">go back</button>
  <button id='save' (click)="save()">save</button>
</div>-