<br>
<br>
<hr class="solid">
<h2>Blocos de Trabalho</h2>
<hr class="solid">


<div class=row>
    <div class=column>
        <ul class="blocosTrabalho">
            <li *ngFor="let blocoTrabalho of blocosTrabalho">
                <a id = 'blClickable' routerLink="/blocosTrabalho/{{blocoTrabalho.domainId}}">
                    <span id = 'blocks' class="badge">{{blocoTrabalho.domainId}}</span> 
                </a>
                <button id = 'remove' class="delete" title="delete blocoTrabalho" (click)="delete(blocoTrabalho)">x</button>
            </li>
        </ul>
    </div>



    <div>

        <br>
        <br>

        <h3>Add Bloco Trabalho</h3>

        <form action="doit" id="doit" method="post">
            <label>Domain ID:
                <input id = 'blocoTrabalhoDomainId' #blocoTrabalhodomainId />
            </label>
            <div class="container-fluid">
                <p></p>
                <dual-list [sort]="keepSorted" [source]="viagens" [key]="key" [display]="display" [filter]="filter"
                    [(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></dual-list>
            </div>

        </form>


        <button id ='add' (click)="add(blocoTrabalhodomainId.value, confirmed, pers)">
            add
        </button>

    </div>


    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <button id ='refr'  style="outline: 0;"  (click)="refresh()">
    </button>