p {
    font-family: Lato;
  }
  .dropzone {
    height: 250px;
    width: 750px;
    padding: 2rem;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: table;
    background-color: #eee;
    border: dashed 1px #979797;
  }

  .input{
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  }

  .label{
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
  }

  .h3{
    font-size: 20px;
    font-weight: 600;
    color: #38424c;

}
  
  .text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .centered {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align:center;
  }

  button{
    margin: 0 auto;
    display: block;
    }