<!-- <router-outlet></router-outlet> -->

<br>
<br>
<hr class="solid">
<h2>Gestão de Caminhos</h2>
<hr class="solid">
<br>
<br>
<div style="text-align:center;">

  <!-- <form action="doit" id="doit" method="post"> -->
  <label>Tempo de Inicio (segundos):
    <input id="1" #time placeholder="Tempo de Inicio (segundos)" />
  </label>
  <br>
  <br>

  <label>Nó de Partida:
    <select #orig id= 'orig'>
      <option *ngFor="let pow of  nos" [value]="pow.nomeCurto">{{pow.nomeCurto}}</option>
    </select>
  </label>
  <br>
  <br>

  <label>Nó Destino:
    <select #dest id = 'dest'>
      <option *ngFor="let pow2 of  nos" [value]="pow2.nomeCurto">{{pow2.nomeCurto}}</option>
    </select>
  </label>
  <br>
  <br>
  <label>Algoritmo:
    <select #alg id = 'alg'>
      <option *ngFor="let pow3 of  ['Gerador de todas as Soluções', 'A*', 'Best First']" [value]="pow3">{{pow3}}</option>
    </select>
  </label>
  <br>
  <br>

  <button id = 'enter' (click)='redirect(alg.value,time.value,orig.value,dest.value);'>
    Enter
  </button>
  <br>
<br>

<button id = 'verResultados' (click)='print(caminho, custo)'>
  Ver Resultados
</button>
<br>
<br>

  Caminho:
  <br>
  <div id="cam"></div>
  <br>
  Custo:
  <br>
  <div id="cust"></div>

  <!-- </form> -->
</div>