<br>
<br>
<hr class="solid">
<h2>Viagens</h2>
<hr class="solid">


<div class=row>
    <div class=column>
        <ul class="viagens">
            <li *ngFor="let viagem of viagens">
                <a id='vgClickable' routerLink="/viagens/{{viagem.domainId}}">
                    <span id='Viag' class="badge">{{viagem.domainId}}</span>

                </a>
                <button id='remove' class="delete" title="delete viagem" (click)="delete(viagem)">x</button>
            </li>
        </ul>
    </div>


    <div class=column:right>

        <h3>Add Viagem</h3>

        <form action="doit" id="doit" method="post">
            <label>Domain ID:
                <input #domainId id='viagemDomainId' />
            </label>
            <label>Vazio:
                <select #vazio id='vazio'>
                    <option *ngFor="let pow of ['true','false']" [value]="pow">{{pow}}</option>
                </select>
            </label>

            <label>Linha:
                <select #line id='lineID'>
                    <option *ngFor="let pow of linhas" [value]="pow.domainId">{{pow.nome}}</option>
                </select>
            </label>

            <label>Percurso:
                <select #tipo id='pathID'>

                </select>
            </label>
            <label>Gerado:
                <select #gerado id='gerado'>
                    <option *ngFor="let pow of ['true','false']" [value]="pow">{{pow}}</option>
                </select>

            </label>

            <label>Tempos:
                <input #tempo id='tempoId' />
                
                <br>
                <br>
                <button id='removeTempo' (click)="deleteTempo()">-</button>
                <button id='addTempo' (click)="addTempo(tempo.value)">+</button>
                <br><br>

                <li *ngFor="let temp of tempos">
                    <b> {{temp}} </b>
                </li>

                <br>

                <br>
            </label>

        </form>


        <button id='add' (click)="add(domainId.value,vazio.value,line.value,tipo.value,gerado.value,tempos)">
            add Viagem
        </button>



    </div>
</div>

<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>
<button id='try' style="outline: 0;" (click)="prepare(linhas)"></button>