<br>
<br>
<hr class="solid">
<h2>Tripulantes</h2>
<hr class="solid">

<div class=row>
    <div class=column>
        <ul class="tripulantes">
            <li *ngFor="let tripulante of tripulantes">
                <a id = 'tClickable' routerLink="/tripulantes/{{tripulante.numMecanografico}}">
                    <span id = 'tripul' class="badge">{{tripulante.numMecanografico}}</span> {{tripulante.nome}}
                </a>
                <button id = 'remove' class="delete" title="delete tripulante" (click)="delete(tripulante)">X</button>
            </li>
        </ul>
    </div>
    
    <div class=column:right>
        <h3>Add Tripulante</h3>
        
        <form action="doit" id="doit" method="post">
            
            <label>Número Mecanográfico:
                <input id = "tripulanteNumMecanografico" #numMecanografico />
            </label>
            
            <label>Nome:
                <input id = "tripulanteNome" #nome />
            </label>

            <label>Data de Nascimento:
                <select id = "tripulanteDataNascDia" #dia >
                    <option *ngFor="let pow of  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,
                    26,27,28,29,30,31]" [value]="pow">{{pow}}</option>
                </select>

                <select id = "tripulanteDataNascMes" #mes >
                    <option *ngFor="let pow of  [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="pow">{{pow}}</option>
                </select>

                <select id = "tripulanteDataNascAno" #ano >
                    <option *ngFor="let pow of  [2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990,
                    1989,1988,1987,1986,1985,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971,
                    1970,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958,1957,1956,1955,1954,1953,1952,
                    1951,1950,1949,1948,1947,1946,1945,1944,1943,1942,1941,1940,1939,1938,1937,1936,1935,1934,1933]" [value]="pow">{{pow}}</option>
                </select>
            </label>
            
            <label>Número de Cartão de Cidadão:
                <input id = "tripulanteCC" #numCC />
            </label>

            <label>NIF:
                <input id = "tripulanteNIF" #numNIF />
            </label>
            
            <label>Tipo de Tripulante:
                <select #tipo id = 'tripulanteTipo' >
                    <option *ngFor="let pow of  tiposTripulante" [value]="pow.domainId">{{pow.desc}}</option>
                </select>
            </label>

            <label>Data de Entrada:
                <select id = "tripulanteDataNascDiaE" #diaE >
                    <option *ngFor="let pow of  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,
                    26,27,28,29,30,31]" [value]="pow">{{pow}}</option>
                </select>

                <select id = "tripulanteDataNascMesE" #mesE >
                    <option *ngFor="let pow of  [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="pow">{{pow}}</option>
                </select>

                <select id = "tripulanteDataNascAnoE" #anoE >
                    <option *ngFor="let pow of  [2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990,
                    1989,1988,1987,1986,1985,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971,
                    1970,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958,1957,1956,1955,1954,1953,1952,
                    1951,1950,1949,1948,1947,1946,1945,1944,1943,1942,1941,1940,1939,1938,1937,1936,1935,1934,1933]" [value]="pow">{{pow}}</option>
                </select>
            </label>
            
            <label>Data de Saída:

                <select id = "tripulanteDataNascDiaS" #diaS >
                    <option *ngFor="let pow of  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,
                    26,27,28,29,30,31]" [value]="pow">{{pow}}</option>
                </select>

                <select id = "tripulanteDataNascMesS" #mesS >
                    <option *ngFor="let pow of  [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="pow">{{pow}}</option>
                </select>

                <select id = "tripulanteDataNascAnoS" #anoS >
                    <option *ngFor="let pow of  [2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990,
                    1989,1988,1987,1986,1985,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971,
                    1970,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958,1957,1956,1955,1954,1953,1952,
                    1951,1950,1949,1948,1947,1946,1945,1944,1943,1942,1941,1940,1939,1938,1937,1936,1935,1934,1933]" [value]="pow">{{pow}}</option>
                </select>
            </label>
            
        </form>
        
        <button id = 'add' (click)="add(numMecanografico.value, nome.value, dia.value, mes.value, ano.value, numCC.value, numNIF.value, 
        tipo.value, diaE.value, mesE.value, anoE.value, diaS.value, mesS.value, anoS.value)">
            add
        </button>
        
        <br>
        <br>
    </div>