<br>
<br>
<hr class="solid">
<div *ngIf="percurso">

  <h2>Details</h2>

<hr class="solid">

  <div><span>Domain ID: </span>{{percurso.domainId}}</div>
  <div>

      <ng-container *ngFor="let NosPercurso of percurso.nosPercurso">
        <ul>
          <li>ID de Nó: {{NosPercurso.noId}}</li>
        </ul>
        <label>Duração:
          <input [(ngModel)]="NosPercurso.duracao" placeholder="duracao" />
        </label>
        <br><label>Distância:
          <input [(ngModel)]="NosPercurso.distancia" placeholder="distancia" />
        </label>
        <br>
        ------------------
      </ng-container>
  </div>
  <button id = 'goBack' (click)="goBack()">go back</button>
  <button id = 'save' (click)="save()">save</button>
</div>




