<br>
<br>
<hr class="solid">
<h2>Nós</h2>
<hr class="solid">

<div class=row>
    <div class=column>
        <ul class="nos">
            <li *ngFor="let no of nos">
                <a id = 'noClickable' routerLink="/nos/{{no.domainId}}">
                    <span id = 'no' class="badge">{{no.domainId}}</span> {{no.nome}}
                    
                </a>
                <button id = 'remove' class="delete" title="delete no" (click)="delete(no)">x</button>
            </li>
        </ul>
    </div>
    
    
    <div class=column:right>
        <h3>Add Nó</h3>
        
        <form action="doit" id="doit" method="post">
            <label>Domain ID:
                <input #nodomainId id = 'noDomainId' />
            </label>
            
            <label>Nome:
                <input #noNome id = 'noNome' />
            </label>
            
            <label>Latitude:
                <input #noLat id = 'noLat' />
            </label>
            
            <label>Longitude:
                <input #noLon id = 'noLon' />
            </label>
            
            <label>Nome Curto:
                <input #noNomeCurto id = 'noNomeCurto' />
            </label>
            
            <label>Estação de Recolha:
                <!-- <input #noER /> -->
                <select #noER id = 'noER' >
                    <option *ngFor="let pow of  ['true', 'false']" [value]="pow">{{pow}}</option>
                </select>
            </label>
            
            <label>Ponto de Rendição:
                <!-- <input #noPR /> -->
                <select #noPR id = 'noPR' >
                    <option *ngFor="let pow of  ['true', 'false']" [value]="pow">{{pow}}</option>
                </select>
            </label>
        
                
            </form>
            
            
            <button id = 'add' (click)="add(nodomainId.value, noNome.value, 
            noLat.value, noLon.value, noNomeCurto.value,
            noER.value, noPR.value, [])">
            add
        </button>
        
        
    </div>
</div>


<br>
<br>