<br>
<br>
<hr class="solid">
<div *ngIf="tipoTripulante">

  <h2>Details</h2>

  <hr class="solid">
  <br>
  <div><span>Domain ID: </span>{{tipoTripulante.domainId}}</div>
  <div>
    <label>Descrição:
      <input id="descUpdate" [(ngModel)]="tipoTripulante.desc" placeholder="desc" />
    </label>
  </div>
  <button id="goBack" (click)="goBack()">go back</button>
  <button id="save" (click)="save()">save</button>
</div>