<br>
<br>
<hr class="solid">
<h2>Dashboard</h2>
<hr class="solid">
<div class="grid grid-pad">
  <a *ngFor="let tipoTripulante of tiposTripulante" class="col-1-4"
      routerLink="/tiposTripulante/{{tipoTripulante.domainId}}">
    <div class="module tipoTripulante">
      <h4>Tipo de Tripulante: {{tipoTripulante.desc}}</h4>
    </div>
  </a>

  <a *ngFor="let tipoViatura of tiposViatura" class="col-1-4"
      routerLink="/tiposViatura/{{tipoViatura.domainId}}">
    <div class="module tipoViatura">
      <h4>Tipo de Viatura: {{tipoViatura.nome}}</h4>
    </div>
  </a>

  <a *ngFor="let percurso of percursos" class="col-1-4"
      routerLink="/percursos/{{percurso.domainId}}">
    <div class="module percurso">
      <h4>Percurso: {{percurso.domainId}}</h4>
    </div>
  </a>

  <a *ngFor="let no of nos" class="col-1-4"
      routerLink="/nos/{{no.domainId}}">
    <div class="module no">
      <h4>Nó: {{no.domainId}}</h4>
    </div>
  </a>

  <a *ngFor="let linha of linhas" class="col-1-4"
      routerLink="/linhas/{{linha.domainId}}">
    <div class="module linha">
      <h4>Linha: {{linha.domainId}}</h4>
    </div>
  </a>
</div>

