<!-- <router-outlet></router-outlet> -->

<br>
<br>
<hr class="solid">
<h2>Sequenciamento de Motoristas</h2>
<hr class="solid">
<br>
<br>
<div style="text-align:center;">
  <!-- <form action="doit" id="doit" method="post"> -->
    <label>Número de Vehicle Duty:
      <input id="0" #nvd placeholder="Número de VD" />
    </label>
    <br>
    <br>
    <label>Número de Gerações:
      <input id="1" #ng placeholder="Número de Gerações" />
    </label>
    <br>
    <br>
    <label>Dimensão da População:
      <input id="2" #np placeholder="Dimensão da População" />
    </label>
    <br>
    <br>
    <label>Probabilidade de Cruzamento (%):
      <input id="3" #pc placeholder="Probabilidade de Cruzamento" />
    </label>
    <br>
    <br>
    <label>Probabilidade de Mutacao (%):
      <input id="4" #pm placeholder="Probabilidade de Mutacao" />
    </label>
    <br>
    <br>
    <label>Percentagem de passagem (%):
      <input id="5" #pp placeholder="Percentagem de passagem" />
    </label>
    <br>
    <br>
    <label>Tempo limite de execução (segundos):
      <input id="6" #tl placeholder="Tempo limite de execução" />
    </label>
    <br>
    <br>
    <label>Avaliação mínima:
      <input id="7" #mv placeholder="Avaliação mínima" />
    </label>
    <br>
    <br>
    <label>Nº de gerações idênticas para estabilização:
      <input id="8" #sv placeholder="Nº de gerações idênticas para estabilização" />
    </label>
    <br>
    <br>

  <button id = 'enter' (click)='redirect(nvd.value,ng.value, np.value, pc.value, pm.value, pp.value, tl.value, mv.value, sv.value);'>
    Enter
  </button>
  <br>
<br>

<button id = 'verResultados' (click)='print(response)'>
  Ver Resultados
</button>
<br>
<br>

  Resultado:
  <br>
  <span style="white-space: pre-line" id="cam"></span>
  <br>

  <!-- </form> -->
</div>