<br>
<br>
<hr class="solid">
<div *ngIf="servicoViatura">

  <h2>Details</h2>

  <hr class="solid">

  <div><span>Domain ID: </span>{{servicoViatura.domainId}}</div>
  <div>
    
    <label>Nome:
      <input id='NomeUpdate' [(ngModel)]="servicoViatura.nome" placeholder="nome" />
    </label>

    <label>Cor:
      <input id='CorUpdate' [(ngModel)]="servicoViatura.cor" placeholder="cor" />
    </label>


    <ng-container *ngFor="let block of servicoViatura.blocks">
      ------------------
      <ul>
        <li>ID de Bloco: {{block}}</li>
      </ul>
      <br>
    </ng-container>
    <!-- </form> -->
  </div>
  <button id='goBack' (click)="goBack()">go back</button>
  <button id='save' (click)="save()">save</button>
</div>