.match-parent {
    width: 122em;
    height: 60em;
  }

  #tMenu, th, td {
    border: 1px solid darkgreen;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #8ca191;
    margin-left: auto;
    margin-right: auto;
  }

  #leg, th, td {
    border: 1px solid darkgreen;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #8ca191;
    margin-left: auto;
    margin-right: auto;
  }

  #tMenu #tm {
    color: white;
    background-color:#31633d;
  }

  #leg #bl {
    background-color:white;
    font-size: 3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }


  