<html>
<head>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
</head>

<body>
    <div id="map" class="match-parent"></div>
    <nav id="listing-group" class="listing-group">
        <input type="checkbox" id="dragRotate"  (change)="toogleOrbit()" unchecked />
        <label for="dragRotate">Orbit</label>
        <input type="checkbox" id="dragPan"  (change)="tooglePan()" checked="checked" />
        <label for="dragPan">Pan</label>

    </nav>

    <!-- <ng-container *ngFor="let node of nosR">
    
    {{setMarker(node)}}
    ----
</ng-container> -->

    <br>
    <table id="tMenu">
        <tr>
            <td id="tm"  colspan="2">MENU</td>
        </tr>
        <tr>
            <td><button id = 'sN' (click)="addMarkers(nosR)">Mostrar Nós</button></td>
            <td><button id = 'hN' (click)="removeMarkers()">Esconder Nós</button></td>
        </tr>
        <tr>
            <td><button id = 'sP' (click)="addPercursos(percursosR, nosR)">Mostrar Percursos</button></td>
            <td><button id = 'hP' (click)="hidePercursos()">Esconder Percursos</button></td>
        </tr>
        <tr>
            <td><button id = 'sL' (click)="addLinhas(linhasR, percursosR, nosR)">Mostrar Linhas</button></td>
            <td><button id = 'hL' (click)="hideLinhas()">Esconder Linhas</button></td>
        </tr>
        
        <tr>
            <td id = 'l'><button id = '3d' (click)="shiftMaps()">2D/3D</button></td>
            
            <td id = 'l'><button id = 'PP' (click)="modoPP()">Modo PP</button></td>
        </tr>

    </table>


    <br>
    <br>
    <h3>Legenda</h3>

    <br>
    <table id="leg">

        <ng-container *ngFor="let linha of linhasR">
            <tr>
                <td id="bl">
                    <font color={{rgbToHex(linha.cor)}}><b><strong>=========</strong></b></font>
                </td>

                <td>Linha: {{linha.nome}}</td>
            </tr>
        </ng-container>
    </table>

    <button id = 'try' style="outline: 0;" (click)="try(nosR)"></button>

    <script>
        document
            .getElementById('listing-group')
            .addEventListener('change', function (e) {
                var handler = e.target.id;
                if (e.target.checked) {
                    map[handler].enable();
                } else {
                    map[handler].disable();
                }
            });
    </script>
</body>

</html>