<br>
<br>
<hr class="solid">
<h2>Linhas</h2>
<hr class="solid">
<div class=row>
    <div class=column>
        <ul class="linhas">
            <li *ngFor="let linha of linhas">
                <a id = 'lClickable' routerLink="/linhas/{{linha.domainId}}">
                    <span id = 'linhaa' class="badge">{{linha.domainId}}</span> {{linha.nome}}
                    
                </a>
                <button id = 'remove' class="delete" title="delete linha" (click)="delete(linha)">x</button>
            </li>
        </ul>
    </div>
    
    
    <div>
        <br>
        <br>
        <h3>Add Linha</h3>
        
        <form action="doit" id="doit" method="post">
            <label>Domain ID:
                <input id = 'linhaDomainId' #linhadomainId />
            </label>
            
            <label>Nome:
                <input id = 'linhaNome' #linhaNome />
            </label>
            
            
            <label>Cor:
                <input id = 'linhaCor' #linhaCor />
            </label>
            
            
            <div class="container-fluid">
                <p></p>
                <dual-list [sort]="keepSorted" [source]="percursos" [key]="key" [display]="display" [filter]="filter"
                    [(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></dual-list>
            </div>
            <div style="display:flex;">
                <div>
                    <pre style="height:100px;overflow:auto;margin: 8px 0;max-width:480px;">{{percursos|json}}</pre>
                </div>
                <div>
                    <pre style="height:100px;overflow:auto;margin: 8px 0;max-width:480px;">{{confirmed|json}}</pre>
                </div>
            </div>
            
            
            
        </form>
        
        <button id = 'add' (click)="add(linhadomainId.value, linhaNome.value, linhaCor.value, confirmed)">
            add
        </button>
</div>

<br>
<br>