
.linhas {   
    list-style-type: none;
    padding: 0;
    width: max-content;
    display: inline-block;
  }
  .linhas li {
    cursor: pointer;
    left: 0;
    background-color: darkgrey;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .linhas li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .linhas li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .linhas li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .linhas .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  label {
    display: block;
    text-align: right;
    
}
input {
  display: block;
  text-align: right;
  float: right;
  
}

label {
    margin-bottom: 20px;
    padding-right: 25px;
    position: center;
    text-align: right;
}

h3{
  padding: 25px;
  text-align: right;
}

.column {
  float: left;
  width: 50%;
}

button{
  float: right;
  margin-right: 25px;
}

.column:right{
  float: right
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
