<br>
<br>
<hr class="solid">
<div *ngIf="linha">

  <h2>Details</h2>

<hr class="solid">
  <div><span>Domain ID: </span>{{linha.domainId}}</div>
  <div>
      <label>Nome:
        <input id = 'linhaNomeUpdate' [(ngModel)]="linha.nome" placeholder="nome" />
      </label>

      <label>Cor:
        <input id = 'linhaCorUpdate' [(ngModel)]="linha.cor" placeholder="cor" />
      </label>

      <ng-container *ngFor="let PercursoLinha of linha.percursoLinha">
        
        ------------------
        <ul>
          <li>ID de PercursoLinha: {{PercursoLinha.percursoLinhaId}}</li>
        </ul>
        <label>
          <input [(ngModel)]="PercursoLinha.percurso" placeholder="ID de Percurso" />
        </label>
        <br><label>
          <input [(ngModel)]="PercursoLinha.orientation" placeholder="Orientação" />
        </label>
        <br>
      </ng-container>
  </div>
  <button id = 'goBack' (click)="goBack()">go back</button>
  <button id = 'save' (click)="save()">save</button>
</div>