<br>
<br>
<hr class="solid">
<h2>Tipos Viatura</h2>
<hr class="solid">


<div class=row>
    <div class=column>
        <ul class="tiposViatura">
            <li *ngFor="let tipoViatura of tiposViatura">
                <a id = 'tvClickable' routerLink="/tiposViatura/{{tipoViatura.domainId}}">
                    <span id = 'tipoViat' class="badge">{{tipoViatura.domainId}}</span> {{tipoViatura.nome}}
                    
                </a>
                <button id = 'remove' class="delete" title="delete tipoViatura" (click)="delete(tipoViatura)">x</button>
            </li>
        </ul>
    </div>
    
    
    <div class=column:right>
        
        <h3>Add Tipo Viatura</h3>
        
        <form action="doit" id="doit" method="post">
            <label>Domain ID:
                <input #tipoViaturadomainId id = 'tipoViaturaDomainId' />
            </label>
            
            <label>Nome:
                <input #tipoViaturaNome id = 'tipoViaturaNome' />
            </label>
            
            <label>Autonomia:
                <input #tipoViaturaAutonomia id ='tipoViaturaAutonomia'/>
            </label>
            
            <label>Custo:
                <input #tipoViaturaCusto id = 'tipoViaturaCusto'/>
            </label>
            
            <label>Velocidade Media:
                <input #tipoViaturaVelocidadeMedia id = 'tipoViaturaVelocidadeMedia'/>
            </label>
            
            <label>Combustivel:
                <input #tipoViaturaCombustivel id = 'tipoViaturaCombustivel'/>
            </label>
            
            <label>Consumo:
                <input #tipoViaturaConsumo id = 'tipoViaturaConsumo'/>
            </label>
            
            <label>Emissoes:
                <input #tipoViaturaEmissoes id = 'tipoViaturaEmissoes'/>
            </label>
            
        </form>
        
        <button id = 'add' (click)="add(tipoViaturadomainId.value, tipoViaturaNome.value, 
        tipoViaturaAutonomia.value, tipoViaturaCusto.value, tipoViaturaVelocidadeMedia.value,
        tipoViaturaCombustivel.value, tipoViaturaConsumo.value, tipoViaturaEmissoes.value)">
        add
    </button>
    
</div>
</div>

<br>
<br>