h1 {
    text-align: right;
    font-size: 2em;
    margin-bottom: 0;
  }
h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
    padding-top: 0;
  }
label {
    display: block;
    text-align: center;
    line-height: 150%;
    padding-top : 25px;
    font-size: .85em;
}

button {
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    color: green;
    background-color: black;
    outline: green;
}