<h2>Login</h2>
<div style="text-align:center;">
    <label>
        <input id = 'eMail' #eMail placeholder="email" />
    </label>

    <label>
        <input id = 'passWord' type='password' #passWord placeholder="password"/>
    </label>

    <button id = 'LoginButton' (click)="login(eMail.value, passWord.value)">
        Enter
    </button>
</div>



<br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <button id ='refr'  style="outline: 0; color:lightgray; background-color: lightgray; border: none;"  (click)="refresh()">
    </button>