/* AppComponent's private CSS styles */


  h1 {
    text-align: right;
    font-size: 2em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
  }
  nav a {
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline;
    background-color: lightgrey;
    border-radius: 4px;
    color: green;
    background-color: lightgrey;
    justify-content: center;
    float: right;
  }
  nav a:visited, a:link {
    color: darkgreen;
  }
  nav a:hover {
    color: white;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }

  nav b {
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline;
    background-color: lightgrey;
    border-radius: 4px;
    color: #3f525c;
    background-color: lightgrey;
    justify-content: center;
    float: left;
  }
  nav b:visited, b:link {
    color: grey;
  }
  nav b:hover {
    color: white;
    background-color: #cfd8dc;
  }
  nav b.active {
    color: #039be5;
  }

  