<h1>{{title}}</h1>
<div>
  <nav>

    <b id = "perf" *ngIf="isAuthorized" routerLink="/me">Perfil</b>

    <b id = "logout" *ngIf="isAuthorized" (click)="logout()">Logout</b>

    <br>
    <br>

    <a id = "login" *ngIf="!isAuthorized" routerLink="/login">Login</a>

    <a id = "signup" *ngIf="!isAuthorized" routerLink="/signup">SignUp</a>

    <a id = "imp"  *ngIf="isAdmin" routerLink="/importFile">Importar Ficheiro</a>

    <a id = "sv" *ngIf="isAdmin" routerLink="/servicosViatura">Serviços V</a>

    <a id = "st" *ngIf="isAdmin" routerLink="/servicosTripulante">Serviços T</a>

    <a id = "bloc" *ngIf="isAdmin" routerLink="/blocosTrabalho">Blocos</a>

    <a id = "viag" *ngIf="isAdmin" routerLink="/viagens">Viagens</a>

    <a id = "tt" *ngIf="isAdmin" routerLink="/tiposTripulante">Tipos Tripulante</a>

    <a id = "t" *ngIf="isAdmin" routerLink="/tripulantes">Tripulantes</a>

    <a id = "tv" *ngIf="isAdmin" routerLink="/tiposViatura">Tipos Viatura</a>

    <a id = "v" *ngIf="isAdmin" routerLink="/viaturas">Viaturas</a>

    <a id = "per" *ngIf="isAdmin" routerLink="/percursos">Percursos</a>

    <a id = "nos" *ngIf="isAdmin" routerLink="/nos">Nós</a>

    <a id = "lin" *ngIf="isAdmin" routerLink="/linhas">Linhas</a>

    <a id="dash" *ngIf="isAdmin" routerLink="/dashboard">DB</a>

    <a id = "mapa" *ngIf="isCliente||isAdmin" routerLink="/map">Mapa</a> 

    <a id = "seq" *ngIf="isGestor" routerLink="/sequenciamentoMotoristas">Sequenciamento Motoristas</a> 

    <a id = "ges" *ngIf="isGestor" routerLink="/gestaoCaminhos">Gestão Caminhos</a>  

    <a id = "ini" *ngIf="isCliente||isAdmin||isGestor" routerLink="/home">Inicio</a>    

    


  </nav>
</div>
<router-outlet></router-outlet>