<br>
<br>


  
<div id = 'termsAndConditions' class="container-fluid" display= 'none'>
      <div class="row terms-and-conditions-section">
      
<hr class="solid">
        <div class="col-xs-12 text-center">
        
          <h1 id ="titlee" class="title">Termos e Condições</h1>

        </div>
<hr class="solid">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="content">
            <p>
              20S5_3DJ_2, SRL ("20S5_3DJ_2") opera este projeto OPT, o seu uso do projeto OPT é governado por estes Termos de Serviço ("Termos"), e o seu uso constitui a aceitação dos Termos.
            </p>
            <p>
              "OPT" (o "Serviço") foi desenvolvido em conjunto com <a href="https://opt.pt">https://opt.pt</a> e todo o software, sites, e serviços disponibilizados pela Microsoft, MongoDB, Mapbox e Angular.
            </p>
            <p>
              Tentaremos avisá-lo de mudanças significativas aos Termos ou Serviço ou outras mudanças (via email da sua conta), mas não garantimos o envio destes avisos. Outras mudanças podem incluir, sem limitação, melhorias da segurança, adição ou remoção de funcionalidades, ou outras melhorias ou restrições do serviço OPT. O seu uso do Serviço após alteração dos Termos constitui a sua aceitação. Mudanças nos Termos podem ser rejeitadas de acordo com as secções 6 e 7 desta versão dos Termos .
            </p>
            <p>
              Por favor utilize o serviço OPT com responsabilidade e de acordo com os Termos. Caso não cumpra os Termos, reservamos o direito de terminar a sua conta.
            </p>

            <h2 class="section-title">1. Declaração de Privacidade</h2>
            <p>
              A presente Declaração de Privacidade descreve as práticas da OPT incluindo as escolhas do Utilizador relativamente à recolha, utilização e divulgação de determinadas informações, incluindo informações pessoais, por parte da OPT.
            </p>

            <h2 class="section-title">2. Contactar a OPT</h2>
            <p>
              Para questões especificamente relacionadas com a presente Declaração de Privacidade, ou a utilização das suas informações pessoais, cookies ou tecnologias semelhantes, contacte o nosso Responsável por Tratamento de Dados/Departamento de Privacidade por e-mail, através do endereço optprivacy@opt.pt.
            </p>
            <p>
              A OPT Privacy é a entidade responsável pelo tratamento dos dados pessoais do Utilizador. Tenha em atenção que se o Utilizador contactar a OPT a solicitar ajuda, para segurança de ambas as partes, poderá ser necessário confirmar a identidade do Utilizador, antes de satisfazer o pedido.
            </p>

            <h2 class="section-title">3. Recolha de Informações</h2>
            <p>
              A OPT recebe e armazena informações sobre o Utilizador como, por exemplo:
            </p>
            <ul>
              <li>
                Informações que fornece à OPT: recolhemos informações que o Utilizador nos fornece incluindo: Endereço de e-mail e data de nascimento. 
              </li>
              <li>
                Informações que recolhemos durante a utilização: Localização via GPS
              </li>
              <ul>
                    <li>
                        Recolhemos a localização do utilizador através do sinal GPS emitido pelo dispositivo que está a aceder a aplicação.
                    </li>
                    <li>
                        O sinal GPS é obtido sempre que o utilizador acede ao mapa.
                    </li>
              </ul>
            </ul>


            <h2 class="section-title">4. Utilização das Informações</h2>
            <p>
              Utilizamos as informações para identificar e contactar o utilizador, assim como para garantir que o utilizador tem idade mínima para consentir o tratamento dos seus dados e para centrar o mapa de acordo com a localização atual do utilizador.
            </p>

            <h2 class="section-title">5. Fundamento para utilização das Informações</h2>
            <p>
              A localização geográfica e o email são recolhidos tendo por base a alínea 1a) do Artigo 6 do Regulamento Geral sobre a Proteção de Dados, que afirma que o tratamento dos dados é lícito quando "o titular dos dados tiver dado o seu consentimento para o tratamento dos seus dados pessoais para uma ou mais finalidades específicas."
            </p>
            <p>
              Por outro lado, a data de nascimento é recolhida tendo como base a alínea 1c) do Artigo 6 do Regulamento Geral sobre a Proteção de Dados, que diz que o tratamento de dados é lícito se "for necessário para o cumprimento de uma obrigação jurídica a que o responsável pelo tratamento esteja sujeito"
            </p>

            <h2 class="section-title">6. Opções do Utilizador</h2>
            <p>
              Se não pretender que a OPT continue a ter acesso aos seus dados, nomeadamente o email, data de nascimento e localização geográfica via GPS, e ao respetivo tratamento, deverá eliminar a sua conta. De forma a faze-lo tem que aceder à sua conta e poderá faze-lo na secção "Perfil".
            </p>

            <h2 class="section-title">7. As suas Informações e Direitos</h2>
            <p>
              Pode solicitar acesso às suas informações pessoais ou corrigir ou atualizar informações pessoais incorretas ou desatualizadas na OPT. Pode também solicitar à OPT a eliminação das suas informações pessoais constantes nos nossos registos, sendo que o mesmo só funcionará através da eliminação da conta.
            </p>

            <p>
              Quando acede à secção "Perfil" do nosso site, pode consultar e atualizar as informações sobre a sua conta, nomeadamente as suas informações de data de nascimento e password. Tem de ter sessão iniciada para aceder à secção "Perfil".
            </p>

            <p>
              Para outras questões, ou caso tenha uma questão relacionada com as nossas práticas de privacidade, contacte o nosso Responsável por Tratamento de Dados/Departamento de Privacidade através do e-mail optprivacy@opt.pt. 
            </p>

            <p>
            Pode opor-se ao tratamento das suas informações pessoais, solicitar-nos que limitemos o tratamento das suas informações pessoais ou solicitar a portabilidade das suas informações pessoais. Caso tenhamos recolhido e tratado as suas informações pessoais com o seu consentimento, pode retirá-lo em qualquer altura, sendo que tais alterações podem conduzir à eliminação da sua conta por consequência. A retirada do seu consentimento não afeta a legalidade de qualquer tratamento que tenhamos realizado antes da referida retirada, nem afetará a legalidade de qualquer processamento das informações que tenha por base outros fundamentos legais para o tratamento, que não se esgotem no consentimento. O Utilizador tem o direito de reclamar junto de uma autoridade de proteção de dados em relação à recolha e utilização das suas informações pessoais por parte da OPT.
            </p>

            <p>
              A OPT reserva o direito de conservar informações, conforme necessário ou permitido pela lei ou pelos regulamentos aplicáveis, cumprindo os objetivos especificados na presente Declaração de Privacidade. Tomamos medidas razoáveis no sentido de destruir ou retirar a identificação de informações pessoais de forma segura quando já não são necessárias.
            </p>

            <h2 class="section-title">8. Segurança</h2>
            <p>
              Utilizamos medidas administrativas, lógicas, físicas e de gestão razoáveis para salvaguardar as informações pessoais do Utilizador contra perda, roubo e ainda acesso, uso ou modificação não autorizados. Estas medidas destinam-se a fornecer um nível de segurança apropriado para fazer face aos riscos de tratamento das suas informações pessoais.
            </p>

            <h2 class="section-title">9. Menores de Idade</h2>
            <p>
              É necessário ter mais do que 13 anos de idade para consentir o acesso aos dados. Apesar do serviço poder ser utilizado por menores de 13 anos, tal utilização só é possível com o envolvimento, supervisão e aprovação parental ou do tutor legal.
            </p>

            <h2 class="section-title">10. Alterações à Presente Declaração de Privacidade</h2>
            <p>
              A OPT irá atualizar a presente Declaração de Privacidade ocasionalmente, em resposta a alterações a requisitos legais, regulamentares ou operacionais. De acordo com a lei, sempre que ocorrerem as referidas alterações (incluindo a data da respetiva entrada em vigor), enviaremos um aviso. A utilização continuada do serviço OPT por parte do Utilizador, após a entrada em vigor de tais atualizações irá constituir confirmação e (conforme aplicável) aceitação das referidas alterações. Se não pretender confirmar nem aceitar quaisquer atualizações à presente Declaração de Privacidade, pode cancelar a sua utilização do serviço OPT.
            </p>

            <p>
              Versão 1.0, 18 de Dezembro, 2020
            </p>

          </div>
        </div>
      </div>
    </div>
