<br>
<br>
<hr class="solid">
<div *ngIf="no">

  <h2>Details</h2>

  <hr class="solid">

  <div><span>Domain ID: </span>{{no.domainId}}</div>
  <div>
    <!-- <form action="doit" id="doit"> -->
    <label>Nome:
      <input id='no.nome' [(ngModel)]="no.nome" placeholder="nome" />
    </label>
    <label>Latitude:
      <input id='no.latitude' [(ngModel)]="no.latitude" placeholder="latitude" />
    </label>
    <label>Longitude:
      <input id='no.longitude' [(ngModel)]="no.longitude" placeholder="longitude" />
    </label>
    <label>Nome Curto:
      <input id='no.nomeCurto' [(ngModel)]="no.nomeCurto" placeholder="nomeCurto" />
    </label>
    <label>Estação de Recolha:
      <select [(ngModel)]="no.isEstacaoRecolha" id='no.isEstacaoRecolha'>
        <option *ngFor="let pow of  ['true', 'false']" [value]="pow">{{pow}}</option>
      </select>
    </label>
    <label>Ponto de Rendição:
      <select [(ngModel)]="no.isPontoRendicao" id='no.isPontoRendicao'>
        <option *ngFor="let pow of  ['true', 'false']" [value]="pow">{{pow}}</option>
      </select>
    </label>

    <ng-container *ngFor="let Tempo of no.tempoViagem">
      ------------------
      <ul>
        <li>ID de Nó: {{Tempo.noId}}</li>
      </ul>
      <label>
        <input [(ngModel)]="Tempo.duracao" placeholder="Duração" />
      </label>
      <br>
    </ng-container>
    <!-- </form> -->
  </div>
  <button id='goBack' (click)="goBack()">go back</button>
  <button id='save' (click)="save()">save</button>
</div>