<div>
    <br>
    <br>
    <hr class="solid">
    <h2>Perfil</h2>
    <hr class="solid">

    <br>

    {{getCurrentUser()}}
  
    <div id = 'funcaoPerfil'><span>Função: </span>{{user.role}}</div>

    
    <hr class="solid">

    <div id = 'alterarPass'>
    <span>Alterar Password: </span>
    <br>
    <br>

    <label>
        <input id = 'NewPassWord' #eMail placeholder="Password Nova" />
    </label>
    <br>
    <br>

    <label>
        <input id = 'NewPassWordConf' #passWord placeholder="Confirmar Password"/>
    </label>
    <br>
    <br>

    <button >
        Alterar
    </button>
    </div>


    <hr class="solid">

    <hr class="solid">

    <div id = 'alterarPass'>
    <span>Alterar Data de Aniversário: </span>
    <br>

    <label><br>
        <select id = "DataNascDiaE" #diaE >
            <option *ngFor="let pow of  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,
            26,27,28,29,30,31]" [value]="pow">{{pow}}</option>
        </select>

        <select id = "DataNascMesE" #mesE >
            <option *ngFor="let pow of  [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="pow">{{pow}}</option>
        </select>

        <select id = "DataNascAnoE" #anoE >
            <option *ngFor="let pow of  [2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990,
            1989,1988,1987,1986,1985,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971,
            1970,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958,1957,1956,1955,1954,1953,1952,
            1951,1950,1949,1948,1947,1946,1945,1944,1943,1942,1941,1940,1939,1938,1937,1936,1935,1934,1933]" [value]="pow">{{pow}}</option>
        </select>
    </label>
    <br>
    <br>

    <button >
        Alterar
    </button>
    </div>

    <hr class="solid">
    <hr class="solid">

    <div id = 'alterarPass'>
        <span>Eliminar Conta: </span>
        <br>
        <br>
    
        <button id = "eliminar"  (click)='eliminarConta()'>
            ELIMINAR
        </button>
        </div>
    
    
        <hr class="solid">
    
  </div>