<br>
<br>
<hr class="solid">
<h2>Serviços de Viatura</h2>
<hr class="solid">


<div class=row>
    <div class=column>
        <ul class="servicosViatura">
            <li *ngFor="let servicoViatura of servicosViatura">
                <a id = 'pClickable' routerLink="/servicosViatura/{{servicoViatura.domainId}}">
                    <span id = 'percur' class="badge">{{servicoViatura.domainId}}</span> 
                </a>
                <button id = 'remove' class="delete" title="delete servicoViatura" (click)="delete(servicoViatura)">x</button>
            </li>
        </ul>
    </div>



    <div>

        <br>
        <br>

        <h3>Add Servico Viatura </h3>

        <form action="doit" id="doit" method="post">
            <label>Domain ID:
                <input id = 'servicoViaturaDomainId' #servicoViaturadomainId />
            </label>
            <label>Nome:
                <input id = 'servicoViaturaNome' #servicoViaturaNome />
            </label>
            <label>Cor:
                <input id = 'servicoViaturaCor' #servicoViaturaCor />
            </label>
            <div class="container-fluid">
                <p></p>
                <dual-list [sort]="keepSorted" [source]="blocos" [key]="key" [display]="display" [filter]="filter"
                    [(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></dual-list>
            </div>

        </form>

        <button id ='add' (click)="add(servicoViaturadomainId.value, servicoViaturaNome.value, servicoViaturaCor.value, confirmed)">
            add
        </button>

    </div>


    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <button id ='refr'  style="outline: 0;"  (click)="refresh()">
    </button>