<br>
<br>
<hr class="solid">
<div *ngIf="tipoViatura">

  <h2>Details</h2>

  <hr class="solid">


  <div><span>Domain ID: </span>{{tipoViatura.domainId}}</div>
  <div>
    <!-- <form action="doit" id="doit"> -->
    <label>Nome:
      <input id='nomeUpdate' [(ngModel)]="tipoViatura.nome" placeholder="nome" />
    </label>
    <label>Autonomia:
      <input id='autonomiaUpdate' [(ngModel)]="tipoViatura.autonomia" placeholder="autonomia" />
    </label>
    <label>Custo:
      <input id='custoUpdate' [(ngModel)]="tipoViatura.custo" placeholder="custo" />
    </label>
    <label>Velocidade Media:
      <input id='velUpdate' [(ngModel)]="tipoViatura.velocidadeMedia" placeholder="velocidadeMedia" />
    </label>
    <label>Combustivel:
      <input id='combustUpdate' [(ngModel)]="tipoViatura.combustivel" placeholder="combustivel" />
    </label>
    <label>Consumo:
      <input id='consumoUpdate' [(ngModel)]="tipoViatura.consumo" placeholder="consumo" />
    </label>
    <label>Emissões:
      <input id='emissoesUpdate' [(ngModel)]="tipoViatura.emissoes" placeholder="emissoes" />
    </label>
    <!-- </form> -->
  </div>
  <button id='goBack' (click)="goBack()">go back</button>
  <button id='save' (click)="save()">save</button>
</div>