<br>
<br>
<hr class="solid">
<div *ngIf="blocoTrabalho">

  <h2>Details</h2>

  <hr class="solid">

  <div><span>Domain ID: </span>{{blocoTrabalho.domainId}}</div>
  <div>
    
    <ul>
      <li>Tempo de Inicio: {{blocoTrabalho.tempoInicio}}</li>
    </ul>
    <br>
    <ul>
      <li>Tempo de Finalização: {{blocoTrabalho.tempoFim}}</li>
    </ul>
    <br>
    <ul>
      <li>Nó Inicial: {{blocoTrabalho.noInicio}}</li>
    </ul>
    <br>
    <ul>
      <li>Nó Final: {{blocoTrabalho.noFim}}</li>
    </ul>
    <br>


    <ng-container *ngFor="let viagem of blocoTrabalho.viagens">
      ------------------
      <ul>
        <li>ID de Viagem: {{viagem}}</li>
      </ul>
      <br>
    </ng-container>
    <!-- </form> -->
  </div>
  <button id='goBack' (click)="goBack()">go back</button>
  <button id='save' (click)="save()">save</button>
</div>  <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <button id ='refr'  style="outline: 0;"  (click)="refresh()">
    </button>