<!-- <router-outlet></router-outlet> -->

<br>
<br>
<hr class="solid">
<h2>Importar Ficheiro</h2>
<hr class="solid">
<br>
<br>
<div id= "drop" *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
	<div class="text-wrapper">
		<div class="centered">Largar ficheiro .glx aqui!</div>
	</div>
</div>

<!-- <div class="dropzone">
    <input type="file" #fileDropRef id = "fileDropRef" multiple (change) = "filesDropped($event.target.files)" />
    <img src = "imgUpload.png">
    <h3>Arrastar e largar ficheiros .glx aqui!</h3>
    <h3>ou</h3>
    <label for ="fileDropRef">Procurar por ficheiro</label>
</div> -->
<!--droped image preview--> 
<br>
<div *ngFor="let file of files">
    <hr class="solid">
  <h5 *ngIf="file" style="width:100%;height:10%;text-align:center;position:relative;top:40%;"> {{file.file.name}}</h5>
  <hr class="solid">
</div>

<button (click)="upload()">Processar Ficheiro</button>
